* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #838383;
}

.errordisplay {
  display: none;
}

#city {
  margin-bottom: 10px;
}

section {
  padding-left: 10px;
  padding-top: 10px;
}
